body, html {
	height: 50%;
    font-family: Montserrat-Regular, sans-serif;
    background: rgba(132,106,221,0.9);
}
input{
	outline: none;
	border: none;
}
button {
	outline: none !important;
	border: none;
    background: rgba(132,106,221,0.9);
    color: white;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
}

button:hover {
    cursor: pointer;
    background-color : black;
    padding: 5px 10px 5px 10px;
}
.wrap-contact100 {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    padding-left: 10%;
  }
input.input100 {
    font-size: 12px;
    background: #e6e6e6;
    /*color:  rgba(132,106,221,0.9);*/
    color : black;
    height: 25px;
    border-radius: 10px;
    padding: 0 20px 0 20px;
}
.list100{
    font-size: 12px;
    background: #e6e6e6;
    color:  rgba(132,106,221,0.9);
    height: 25px;
    border-radius: 10px;
    padding: 0 20px 0 20px;
}
/*
    height: 390px;
    width: 70%; 
display: block;
width: 100%;
line-height: 1.5;
font-family: Montserrat-Bold;
    border-radius: 20px;
      padding: 200px 130px 157px 148px;
*/